<h2>Subscibers Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% subscribers.forEach(subscriber=> { %>
      <tr>
        <td>
          <a href="<%= `/users/${user._id}` %>">
            <%= user.fullName %>
          </a>
        </td>
        <td>
          <%= subscriber.email %>
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>